.content {
  flex: auto;
  position: relative;

  .channels {
    position: absolute;
    left: 50%;
    top: 75%;
    -webkit-transform: translate(-50%, -75%);
    transform: translate(-50%, -75%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90vw;
    gap: calc(100vw * 12 / 2048);
    width: 100%;
    overflow: hidden;
  }
}

.footer {
  z-index: 1;
  box-sizing: border-box;
  border-top: calc(27vh * 5 / 277) solid #34beed;
  background-color: #ddd;
  width: 100vw;
  height: 27vh;
  box-shadow: inset 0 calc(27vh * 50 / 277) calc(27vh * 25 / 277)
    calc(27vh * -7 / 277) rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "RodinBokutohBold";
  gap: calc(100vw * 80 / 2048);
  padding: 0px calc(27vh * 20 / 277);

  h1 {
    text-align: center;
    font-size: calc(27vh * 32 / 277);
    font-family: "ShinGoBold";
  }

  .date {
    color: #888;
    font-size: calc(27vh * 50 / 277);
    font-weight: bold;
    text-align: center;
  }
}
