$size: 365;
.channel {
  width: calc(100vw * $size / 2048);
  height: auto;
  transition: filter 0.2s ease;
  pointer-events: none;
  &:hover {
    filter: brightness(90%) drop-shadow(0px 0px 3px #34beed);
    use {
      stroke: #34beed;
    }
  }
  use {
    pointer-events: all;
  }
  a {
    &:hover,
    &:active {
      cursor: inherit;
    }
  }
  text {
    font-size: 100px;
    font-family: "ShinGoBold";
    user-select: none;
  }
}

@media (max-width: 1200px) {
  .channel {
    width: calc(100vw * $size * 1.2 / 2048);
  }
}

@media (max-width: 600px) {
  .channel {
    width: calc(100vw * $size * 2 / 2048);
  }

  .emptyChannel.channel {
    display: none;
  }
}
