@font-face {
  font-family: "ShinGoBold";
  src: local("ShinGoBold"), url("./fonts/ShinGo/ShinGoBold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "RodinBokutohBold";
  src: local("RodinBokutohBold"), url("./fonts/RodinBokutoh/RodinBokutohB.otf") format("opentype");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
  cursor: url(./wii_pointer.cur) 11 3, auto;
}

.root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
